body {
  background-color: #d98ef5; font-style: italic; font-size: 24;font-family: cursive;
  Margin-top: .1; margin: 0;
}
header {
  background-color: white;
  padding: 0em;
  text-align: center;
}
h1, h2 {
  margin: 0;
}
h1 {
  padding:0;
}
h2 {
  font-size: 21;
  margin-left: 1em;
  text-align: center;
}
p {
  margin-left: 2em;
  font-size: 18;
}
nav ul {
  margin:0;
  list-style: none;
}
nav il {
  margin:0;
  float: center;
}
nav a {
  color: black;
  text-decoration: none;
}
nav a:hover{
  color:red;
}
img {
  max-width: 100%;
  max-height: 100%
  align-content: top;
}
.img-3-col {
*/  height: 400px;*/
}
